src/main/mule/AccountDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="AccountDetailsFlow" doc:id="6c0639a9-855c-4c94-8cba-f71566466f1c" >
		<logger level="INFO" doc:name="Logger" doc:id="d7ff08d8-39b0-4cd4-88af-2d8e8256872a" message="Request received --------------"/>
		<db:select doc:name="Select" doc:id="f0123ce7-303a-40b0-9898-9bc35936b9c6" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where accountId= :AccId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	 AccId:attributes.queryParams.accountId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ca8b65d2-001f-40a9-8622-1f495999264e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a37dbf3c-28d2-4676-a37a-9d4c1fbe3cdb" message="Final message from Account Details flow.................#[payload]"/>
	</flow>
</mule>
