src/main/mule/CreateAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b284b850-9c9e-4f0d-b151-af3207031823" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="integration-june" />
	</db:config>
	<flow name="CreateAccountFlow" doc:id="224f2dde-3876-4274-90c1-d7c379b43137" >
		<logger level="INFO" doc:name="Logger" doc:id="15a8bedc-fed6-4fa1-a450-8cdb85769bd0" message="Request received from create account------#[payload]"/>
		<db:insert doc:id="a3e4c921-fb61-4116-a5e2-d6d0cd903d3e" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Account(name,phone,email,gender,dateOfBirth) 
values (:name,:phone,:email,:gender,:dateOfBirth) ;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:payload.name,
	phone:payload.phoneNo,
	email:payload.emailId,
	gender:payload.gender,
	dateOfBirth:payload.dateOfBirth
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="e08dfe99-745b-42e9-ab22-9af7d1c58e60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account Created Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f75cb8f8-8fef-43dd-bb3a-956dfe6e6f13" message="Final Response from CreateAccount flow-------#[payload]"/>
	</flow>
</mule>
