src/main/mule/UpdateAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="UpdateAccountFlow" doc:id="926d2206-4e8e-4ecf-bc49-8803e2651afc" >
		<logger level="INFO" doc:name="Logger" doc:id="0207a189-f15c-44fa-89ac-a56ad3923ae0" message="Request received--------------------#[payload]"/>
		<db:update doc:name="Update" doc:id="3fc279f7-90f4-4aee-8a95-7f046311721c" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE account set gender= :gender, dateOfBirth= :DOB, name= :name where accountId= :accountId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	gender:payload.gender,
	DOB:payload.DOB,
	name:payload.name,
	accountId:payload.AccId
	
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="8e7c1e35-fe5d-48db-9f42-1118f342ed9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "gender & DateOfBirth updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b52e13e5-6f28-4194-bb4a-742b82673837" message="Final message from Update Account Flow------#[payload]"/>
	</flow>
</mule>
